@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-alU-JjcDbKUM_font-family: "Roboto", sans-serif;
  --mixin-alU-JjcDbKUM_font-size: 16px;
  --mixin-alU-JjcDbKUM_font-weight: 400;
  --mixin-alU-JjcDbKUM_font-style: normal;
  --mixin-alU-JjcDbKUM_color: #535353;
  --mixin-alU-JjcDbKUM_text-align: left;
  --mixin-alU-JjcDbKUM_text-transform: none;
  --mixin-alU-JjcDbKUM_line-height: 1.5;
  --mixin-alU-JjcDbKUM_letter-spacing: normal;
  --mixin-alU-JjcDbKUM_white-space: pre-wrap;
  --mixin-alU-JjcDbKUM_user-select: text;
  --mixin-alU-JjcDbKUM_text-decoration-line: none;
  --mixin-alU-JjcDbKUM_text-overflow: clip;
  --mixin-zM-VOYW7LZ89_font-family: "Inter", sans-serif;
  --mixin-zM-VOYW7LZ89_color: #000000;
  --mixin-zM-VOYW7LZ89_font-size: 72px;
  --mixin-zM-VOYW7LZ89_font-weight: 900;
  --mixin-zM-VOYW7LZ89_letter-spacing: -4px;
  --mixin-zM-VOYW7LZ89_line-height: 1;
  --mixin-zM-VOYW7LZ89_white-space: pre-wrap;
  --mixin-oXUC4-bztuZX_font-family: "Inter", sans-serif;
  --mixin-oXUC4-bztuZX_color: #000000;
  --mixin-oXUC4-bztuZX_font-size: 48px;
  --mixin-oXUC4-bztuZX_font-weight: 700;
  --mixin-oXUC4-bztuZX_letter-spacing: -1px;
  --mixin-oXUC4-bztuZX_line-height: 1.1;
  --mixin-oXUC4-bztuZX_white-space: pre-wrap;
  --mixin-f9Gk9emAEVvf_font-family: "Inter", sans-serif;
  --mixin-f9Gk9emAEVvf_color: #000000;
  --mixin-f9Gk9emAEVvf_font-size: 32px;
  --mixin-f9Gk9emAEVvf_font-weight: 600;
  --mixin-f9Gk9emAEVvf_letter-spacing: -0.8px;
  --mixin-f9Gk9emAEVvf_line-height: 1.2;
  --mixin-f9Gk9emAEVvf_white-space: pre-wrap;
  --mixin-UYlHKSwkCiS__font-family: "Inter", sans-serif;
  --mixin-UYlHKSwkCiS__color: #000000;
  --mixin-UYlHKSwkCiS__font-size: 24px;
  --mixin-UYlHKSwkCiS__font-weight: 600;
  --mixin-UYlHKSwkCiS__letter-spacing: -0.5px;
  --mixin-UYlHKSwkCiS__line-height: 1.3;
  --mixin-UYlHKSwkCiS__white-space: pre-wrap;
  --mixin-ayuEbeeJ-Qca_font-family: "Inter", sans-serif;
  --mixin-ayuEbeeJ-Qca_color: #000000;
  --mixin-ayuEbeeJ-Qca_font-size: 20px;
  --mixin-ayuEbeeJ-Qca_font-weight: 600;
  --mixin-ayuEbeeJ-Qca_letter-spacing: -0.3px;
  --mixin-ayuEbeeJ-Qca_line-height: 1.5;
  --mixin-ayuEbeeJ-Qca_white-space: pre-wrap;
  --mixin-uoHvSzYd6UDk_font-family: "Inter", sans-serif;
  --mixin-uoHvSzYd6UDk_color: #000000;
  --mixin-uoHvSzYd6UDk_font-size: 16px;
  --mixin-uoHvSzYd6UDk_font-weight: 600;
  --mixin-uoHvSzYd6UDk_line-height: 1.5;
  --mixin-uoHvSzYd6UDk_white-space: pre-wrap;
  --mixin-DGSObPq-1EPx_color: #0070f3;
  --mixin-DGSObPq-1EPx_white-space: pre-wrap;
  --mixin--rEdZIZuE_Kh_color: #3291ff;
  --mixin--rEdZIZuE_Kh_white-space: pre-wrap;
  --mixin-CaX7BHm33F3H_border-left-color: #dddddd;
  --mixin-CaX7BHm33F3H_border-left-style: solid;
  --mixin-CaX7BHm33F3H_border-left-width: 3px;
  --mixin-CaX7BHm33F3H_color: #888888;
  --mixin-CaX7BHm33F3H_padding-left: 10px;
  --mixin-CaX7BHm33F3H_white-space: pre-wrap;
  --mixin-Bf9ja50VuPe0_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Bf9ja50VuPe0_border-bottom-color: #dddddd;
  --mixin-Bf9ja50VuPe0_border-bottom-style: solid;
  --mixin-Bf9ja50VuPe0_border-bottom-width: 1px;
  --mixin-Bf9ja50VuPe0_border-left-color: #dddddd;
  --mixin-Bf9ja50VuPe0_border-left-style: solid;
  --mixin-Bf9ja50VuPe0_border-left-width: 1px;
  --mixin-Bf9ja50VuPe0_border-right-color: #dddddd;
  --mixin-Bf9ja50VuPe0_border-right-style: solid;
  --mixin-Bf9ja50VuPe0_border-right-width: 1px;
  --mixin-Bf9ja50VuPe0_border-top-color: #dddddd;
  --mixin-Bf9ja50VuPe0_border-top-style: solid;
  --mixin-Bf9ja50VuPe0_border-top-width: 1px;
  --mixin-Bf9ja50VuPe0_border-bottom-left-radius: 3px;
  --mixin-Bf9ja50VuPe0_border-bottom-right-radius: 3px;
  --mixin-Bf9ja50VuPe0_border-top-left-radius: 3px;
  --mixin-Bf9ja50VuPe0_border-top-right-radius: 3px;
  --mixin-Bf9ja50VuPe0_font-family: "Inconsolata";
  --mixin-Bf9ja50VuPe0_padding-bottom: 1px;
  --mixin-Bf9ja50VuPe0_padding-left: 4px;
  --mixin-Bf9ja50VuPe0_padding-right: 4px;
  --mixin-Bf9ja50VuPe0_padding-top: 1px;
  --mixin-Bf9ja50VuPe0_white-space: pre-wrap;
  --mixin-9m8Iy5t-glFs_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9m8Iy5t-glFs_border-bottom-color: #dddddd;
  --mixin-9m8Iy5t-glFs_border-bottom-style: solid;
  --mixin-9m8Iy5t-glFs_border-bottom-width: 1px;
  --mixin-9m8Iy5t-glFs_border-left-color: #dddddd;
  --mixin-9m8Iy5t-glFs_border-left-style: solid;
  --mixin-9m8Iy5t-glFs_border-left-width: 1px;
  --mixin-9m8Iy5t-glFs_border-right-color: #dddddd;
  --mixin-9m8Iy5t-glFs_border-right-style: solid;
  --mixin-9m8Iy5t-glFs_border-right-width: 1px;
  --mixin-9m8Iy5t-glFs_border-top-color: #dddddd;
  --mixin-9m8Iy5t-glFs_border-top-style: solid;
  --mixin-9m8Iy5t-glFs_border-top-width: 1px;
  --mixin-9m8Iy5t-glFs_border-bottom-left-radius: 3px;
  --mixin-9m8Iy5t-glFs_border-bottom-right-radius: 3px;
  --mixin-9m8Iy5t-glFs_border-top-left-radius: 3px;
  --mixin-9m8Iy5t-glFs_border-top-right-radius: 3px;
  --mixin-9m8Iy5t-glFs_font-family: "Inconsolata";
  --mixin-9m8Iy5t-glFs_padding-bottom: 3px;
  --mixin-9m8Iy5t-glFs_padding-left: 6px;
  --mixin-9m8Iy5t-glFs_padding-right: 6px;
  --mixin-9m8Iy5t-glFs_padding-top: 3px;
  --mixin-9m8Iy5t-glFs_white-space: pre-wrap;
  --mixin-33igNU-2NgcY_display: flex;
  --mixin-33igNU-2NgcY_flex-direction: column;
  --mixin-33igNU-2NgcY_align-items: stretch;
  --mixin-33igNU-2NgcY_justify-content: flex-start;
  --mixin-33igNU-2NgcY_list-style-position: outside;
  --mixin-33igNU-2NgcY_padding-left: 40px;
  --mixin-33igNU-2NgcY_position: relative;
  --mixin-33igNU-2NgcY_list-style-type: decimal;
  --mixin-33igNU-2NgcY_white-space: pre-wrap;
  --mixin-gS2gGU_LFMGO_display: flex;
  --mixin-gS2gGU_LFMGO_flex-direction: column;
  --mixin-gS2gGU_LFMGO_align-items: stretch;
  --mixin-gS2gGU_LFMGO_justify-content: flex-start;
  --mixin-gS2gGU_LFMGO_list-style-position: outside;
  --mixin-gS2gGU_LFMGO_padding-left: 40px;
  --mixin-gS2gGU_LFMGO_position: relative;
  --mixin-gS2gGU_LFMGO_list-style-type: disc;
  --mixin-gS2gGU_LFMGO_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-alU-JjcDbKUM_font-family);
  font-size: var(--mixin-alU-JjcDbKUM_font-size);
  font-weight: var(--mixin-alU-JjcDbKUM_font-weight);
  font-style: var(--mixin-alU-JjcDbKUM_font-style);
  color: var(--mixin-alU-JjcDbKUM_color);
  text-align: var(--mixin-alU-JjcDbKUM_text-align);
  text-transform: var(--mixin-alU-JjcDbKUM_text-transform);
  line-height: var(--mixin-alU-JjcDbKUM_line-height);
  letter-spacing: var(--mixin-alU-JjcDbKUM_letter-spacing);
  white-space: var(--mixin-alU-JjcDbKUM_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-zM-VOYW7LZ89_font-family);
  color: var(--mixin-zM-VOYW7LZ89_color);
  font-size: var(--mixin-zM-VOYW7LZ89_font-size);
  font-weight: var(--mixin-zM-VOYW7LZ89_font-weight);
  letter-spacing: var(--mixin-zM-VOYW7LZ89_letter-spacing);
  line-height: var(--mixin-zM-VOYW7LZ89_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-oXUC4-bztuZX_font-family);
  color: var(--mixin-oXUC4-bztuZX_color);
  font-size: var(--mixin-oXUC4-bztuZX_font-size);
  font-weight: var(--mixin-oXUC4-bztuZX_font-weight);
  letter-spacing: var(--mixin-oXUC4-bztuZX_letter-spacing);
  line-height: var(--mixin-oXUC4-bztuZX_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-f9Gk9emAEVvf_font-family);
  color: var(--mixin-f9Gk9emAEVvf_color);
  font-size: var(--mixin-f9Gk9emAEVvf_font-size);
  font-weight: var(--mixin-f9Gk9emAEVvf_font-weight);
  letter-spacing: var(--mixin-f9Gk9emAEVvf_letter-spacing);
  line-height: var(--mixin-f9Gk9emAEVvf_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-UYlHKSwkCiS__font-family);
  color: var(--mixin-UYlHKSwkCiS__color);
  font-size: var(--mixin-UYlHKSwkCiS__font-size);
  font-weight: var(--mixin-UYlHKSwkCiS__font-weight);
  letter-spacing: var(--mixin-UYlHKSwkCiS__letter-spacing);
  line-height: var(--mixin-UYlHKSwkCiS__line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-ayuEbeeJ-Qca_font-family);
  color: var(--mixin-ayuEbeeJ-Qca_color);
  font-size: var(--mixin-ayuEbeeJ-Qca_font-size);
  font-weight: var(--mixin-ayuEbeeJ-Qca_font-weight);
  letter-spacing: var(--mixin-ayuEbeeJ-Qca_letter-spacing);
  line-height: var(--mixin-ayuEbeeJ-Qca_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-uoHvSzYd6UDk_font-family);
  color: var(--mixin-uoHvSzYd6UDk_color);
  font-size: var(--mixin-uoHvSzYd6UDk_font-size);
  font-weight: var(--mixin-uoHvSzYd6UDk_font-weight);
  line-height: var(--mixin-uoHvSzYd6UDk_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-DGSObPq-1EPx_color);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin--rEdZIZuE_Kh_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-CaX7BHm33F3H_color);
  padding-left: var(--mixin-CaX7BHm33F3H_padding-left);
  border-left: var(--mixin-CaX7BHm33F3H_border-left-width)
    var(--mixin-CaX7BHm33F3H_border-left-style)
    var(--mixin-CaX7BHm33F3H_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Bf9ja50VuPe0_font-family);
  border-radius: var(--mixin-Bf9ja50VuPe0_border-top-left-radius)
    var(--mixin-Bf9ja50VuPe0_border-top-right-radius)
    var(--mixin-Bf9ja50VuPe0_border-bottom-right-radius)
    var(--mixin-Bf9ja50VuPe0_border-bottom-left-radius);
  padding: var(--mixin-Bf9ja50VuPe0_padding-top)
    var(--mixin-Bf9ja50VuPe0_padding-right)
    var(--mixin-Bf9ja50VuPe0_padding-bottom)
    var(--mixin-Bf9ja50VuPe0_padding-left);
  border-top: var(--mixin-Bf9ja50VuPe0_border-top-width)
    var(--mixin-Bf9ja50VuPe0_border-top-style)
    var(--mixin-Bf9ja50VuPe0_border-top-color);
  border-right: var(--mixin-Bf9ja50VuPe0_border-right-width)
    var(--mixin-Bf9ja50VuPe0_border-right-style)
    var(--mixin-Bf9ja50VuPe0_border-right-color);
  border-bottom: var(--mixin-Bf9ja50VuPe0_border-bottom-width)
    var(--mixin-Bf9ja50VuPe0_border-bottom-style)
    var(--mixin-Bf9ja50VuPe0_border-bottom-color);
  border-left: var(--mixin-Bf9ja50VuPe0_border-left-width)
    var(--mixin-Bf9ja50VuPe0_border-left-style)
    var(--mixin-Bf9ja50VuPe0_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-9m8Iy5t-glFs_font-family);
  border-radius: var(--mixin-9m8Iy5t-glFs_border-top-left-radius)
    var(--mixin-9m8Iy5t-glFs_border-top-right-radius)
    var(--mixin-9m8Iy5t-glFs_border-bottom-right-radius)
    var(--mixin-9m8Iy5t-glFs_border-bottom-left-radius);
  padding: var(--mixin-9m8Iy5t-glFs_padding-top)
    var(--mixin-9m8Iy5t-glFs_padding-right)
    var(--mixin-9m8Iy5t-glFs_padding-bottom)
    var(--mixin-9m8Iy5t-glFs_padding-left);
  border-top: var(--mixin-9m8Iy5t-glFs_border-top-width)
    var(--mixin-9m8Iy5t-glFs_border-top-style)
    var(--mixin-9m8Iy5t-glFs_border-top-color);
  border-right: var(--mixin-9m8Iy5t-glFs_border-right-width)
    var(--mixin-9m8Iy5t-glFs_border-right-style)
    var(--mixin-9m8Iy5t-glFs_border-right-color);
  border-bottom: var(--mixin-9m8Iy5t-glFs_border-bottom-width)
    var(--mixin-9m8Iy5t-glFs_border-bottom-style)
    var(--mixin-9m8Iy5t-glFs_border-bottom-color);
  border-left: var(--mixin-9m8Iy5t-glFs_border-left-width)
    var(--mixin-9m8Iy5t-glFs_border-left-style)
    var(--mixin-9m8Iy5t-glFs_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-33igNU-2NgcY_display);
  flex-direction: var(--mixin-33igNU-2NgcY_flex-direction);
  align-items: var(--mixin-33igNU-2NgcY_align-items);
  justify-content: var(--mixin-33igNU-2NgcY_justify-content);
  list-style-position: var(--mixin-33igNU-2NgcY_list-style-position);
  padding-left: var(--mixin-33igNU-2NgcY_padding-left);
  position: var(--mixin-33igNU-2NgcY_position);
  list-style-type: var(--mixin-33igNU-2NgcY_list-style-type);
  flex-column-gap: var(--mixin-33igNU-2NgcY_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-gS2gGU_LFMGO_display);
  flex-direction: var(--mixin-gS2gGU_LFMGO_flex-direction);
  align-items: var(--mixin-gS2gGU_LFMGO_align-items);
  justify-content: var(--mixin-gS2gGU_LFMGO_justify-content);
  list-style-position: var(--mixin-gS2gGU_LFMGO_list-style-position);
  padding-left: var(--mixin-gS2gGU_LFMGO_padding-left);
  position: var(--mixin-gS2gGU_LFMGO_position);
  list-style-type: var(--mixin-gS2gGU_LFMGO_list-style-type);
  flex-column-gap: var(--mixin-gS2gGU_LFMGO_flex-column-gap);
}
